.addthisevent {

	&-drop {
		@include thin-btn;
		cursor: pointer;
		position: relative;
	    margin: 1.5rem auto 0 auto;
		width: 12rem;

		&:hover {
			@include thin-btn-hover;
		}

		span {
			background-color: $white;
			display: none;
			width: 100%;
			height: 3rem;
			padding: 1rem 0;
			position: absolute;

			@for $i from 1 through 5 {
			    &:nth-child(#{$i}) {
			      top: calc(((#{$i} - 1) * 3rem) + (2px * #{$i}));
			    }
			}

			&:nth-child(5){
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}
	}

	&_dropdown {

		span {
			border-top: 0;
			background-color: $grey;
			color: $white;

			&:hover {
				@include thin-btn-hover;
			}
		}
	}

	&-selected {

		span {
			display: block;

			&.addthisevent_icon {
				display: none;
			}
		}
	}
}

.frs {
    font-size: 0.6rem;
	border: 0;
}
