.guests {

    .hotel {
        margin: 2rem 0 1rem;
        display: flex;
        flex-flow: column nowrap;

        @media (min-width: 750px) {
            display: block;
            overflow: auto;
        }

        &__image {
            width: 100%;
            flex: 1 1 auto;
            margin-bottom: 1rem;
            order: 1;

            @media (min-width: 750px) {
                width: 33%;
                float: left;
            }

            img {
                display: block;
            }
        }

        &__details {
            width: 100%;
            flex: 1 1 auto;
            order: 2;

            @media (min-width: 750px) {
                float: right;
                width: 66%;
                padding-left: 2rem;
            }

            @media (min-width: 900px) {
                padding-left: 3rem;
            }

            h3 {
                text-align: center;
                line-height: 1.8rem;

                @media (min-width: 750px) {
                    margin-top: 0;
                    text-align: left;
                }
            }

            p {
                text-align: center;

                @media (min-width: 750px) {
                    text-align: left;
                }
            }
        }

        &__cta {
            @include thin-btn;
            order: 3;
            width: 100%;
            flex: 1 1 auto;
            margin-bottom: 1rem;

            @media (min-width: 750px) {
                float: left;
                width: 33%;
            }

            &:hover {
                @include thin-btn-hover;
            }
        }

        &__divider {
            margin: 2rem 0;
        }
    }
}
