.intro {

  h1 {
    text-align: center;
    font-size: 3rem;

		@media (min-width: 650px){
			font-size: 7rem;
		}
  }

  .amp {
    @extend h1;
    font-size: 2rem;

		@media (min-width: 650px){
			font-size: 5rem;
		}
  }
}