.registry-options {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 14rem);
  flex-flow: column nowrap;

	@media (min-width: 850px){
		flex-flow: row nowrap;
		height: auto;
        justify-content: space-between;
	}

  &__item {
    flex: 1 1 auto;
    display: flex;
    max-height: 10rem;
    align-items: center;

		@media (min-width: 850px){
			height: 16rem;
            flex: 0 0 32%;
		}

    a {
      flex: 1 1 auto;
    }

    img {
        max-width: 100%;
        width: 14rem;
      fill: $grey;

      @media (min-width: 850px){
        width: 75%;
      }
    }
  }
}
