.registry-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 14rem);
  flex-flow: column nowrap;

	@media (min-width: 850px){
		flex-flow: row nowrap;
		height: auto;
	}

  &__item {
    flex: 0 0 32%;
    display: flex;
    align-items: center;

		@media (min-width: 650px){
			height: 16rem;
		}

    a {
      flex: 1 1 auto;
    }

    img {
        max-width: 100%;
        width: 14rem;
      fill: $grey;

      @media (min-width: 850px){
        width: 75%;
      }
    }
  }
}
