.wrapper {
  width: 100%;
  color: $grey;
  background-color: $off-white;
}

.content {
  position: relative;
}

.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  &-fullscreen {
    min-height: calc(100vh);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem 0;

    @media (min-width: 650px) {
        padding: 4rem 0;
    }

    &:nth-child(2) {
        background: url('../images/floral4.jpg') repeat;
    }

    &:nth-child(4) {
        background: url('../images/floral4.jpg') repeat;
    }

    &:nth-child(6) {
        background: url('../images/floral4.jpg') repeat;
    }
  }

  &__enclosed {
    padding: 2rem;
    border-radius: 2px;

    @media (min-width: 650px) {
        padding: 4rem;
    }
  }

  &__content {
    background-color: $off-white;
    margin: 0 auto;
    width: 90%;
    max-width: 1040px;

    .section_icon {
        height: 1rem;
        margin: 1rem;
    }

    .end_icon {
        height: 2rem;
        margin: 1.4rem;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .headline {
        font-size: 1rem;

        @media (min-width: 650px) {
            font-size: 1.5rem;
        }
    }
  }
}
