.top {
  position: absolute;
  bottom: .25rem;
  text-align: center;
  width: 100%;

  a {
    border: 2px $light-grey solid;
    border-bottom: 0;
    background-color: $white;
    padding: .25rem .5rem;
  }
}