@import 'colors';
@import 'fonts';
@import 'navigation';
@import 'intro';
@import 'registry';
@import 'top';
@import 'addThisEvent';

// RESETS

* {
  @include copy;
  box-sizing: border-box;
  color: $grey;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  @include headline;
}

h2 {
  @include subHead;
}

p {
  @include copy;
}

// STYLES

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  &-fullscreen {
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &:nth-child(2n){
      background: url('../images/subtle_white_feathers.png') repeat;
      background-size: 40%;
    }
  }

  &__content {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 1000px;
  }
}

