@import 'colors';
@import 'mixins';
@import 'fonts';
@import 'sections';
@import 'navigation';
@import 'intro';
@import 'registry';
@import 'top';
@import 'addThisEvent';

// RESETS

* {
  @include copy;
  box-sizing: border-box;
  text-align: center;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1 {
  @include headline;
}

h2 {
  @include subHead;
}

p {
  @include copy;
  line-height: 2rem;
    margin: 1.4rem 0;
}
